body {
  background-color: #F6F6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 100%;
}

h1 {
  color: #364F6B;
}

h3 {
  color: #364F6B;
}
